/*Common*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.debug {
  height: 300px;
}

body {
  font-family: "Open Sans", serif;
  font-optical-sizing: auto;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  display: block;
}

.button {
  display: inline-block;
  background-color: #0061fe;
  padding: 10px 15px;
  color: #ffffff;
}

.button:hover {
  filter: brightness(1.4);
}

.container {
  width: 1190px;
  margin: 0 auto;
}

.container-small {
  width: 1030px;
  margin: 0 auto;
  background-color: green;
}

/* bg color */

.bg-orange {
  background-color: orange;
}


/* HEADER */

header nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  box-shadow: 0 1px 3px 0 #ddd;
}

header nav ul {
  display: flex;
  gap: 40px;
  align-items: center;
}

/* MAIN */

main > section {
  padding-top: 30px;
  padding-bottom: 30px;
}


/* JUMBOTRON */

#jumbotron {
  background-color: #b4d0e6;
  margin-bottom: 140px;
}

#jumbotron .jumbo-info {
  display: flex;
}

#jumbotron .jumbo-text {
  width: 30%;
}

#jumbotron .jumbo-img {
  width: 70%;
}

#jumbotron .container {
  position: relative;
  top: 100px;
  right: 0;
}

.btnprova {
  display: block;
  margin-top: 5px;
  margin-bottom: 15px;
}



/* COLONNE */

.container-colonna {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.colonna {
  display: flex;
  width: calc((100% - 20px) / 3);
  border: 1px solid black;
  padding: 20px;
  background: white;
  border-radius: 10px;
  flex-direction: column;
  flex-shrink: 0;
}

.fullwidth {
  width: 100%;
}

.colonna h3 {
 text-align: center;
}

.info {
  padding: 30px 0;
}















.partner-big {
  background-color: darkolivegreen;
  height: 300px;
  flex-grow: 2;
}

.partner-small {
  background-color: firebrick;
  height: 300px;
  flex-grow: 1;
}

.container-colonne-two {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.colonne-two {
  display: flex;
  flex-direction: column;
  width: calc((100% - 40px) / 3);
  flex-shrink: 0;
  border: 1px solid black;
  background: white;
  padding: 20px;
  text-align: center;
  border-radius: 8px;
  margin-bottom: 20px;
}

/* FOOTER */
footer {
  display: flex;
  flex-direction: column;
  background-color: black;
}

.footer-container {
  display: flex;
  height: 500px;
  justify-content: center;
  width: 800px;
  margin: 0 auto;
  padding-top: 5px;
  padding-bottom: 10px;
}

.informative {
  display: flex;
  flex-grow: 2;
  flex-direction: row;
  margin: 50px;
}

h5 {
    font-weight: bold;
    font-size: 20px;
}

.micro-layout {
  color: #ffffff;
  flex-grow: 1;
  line-height: 30px;
  margin-left: 30px;
  font-size: 12px;
}

.italian-world {
  background-color: mediumpurple;
  width: 800px;
  margin: 30px auto 0 auto;
  display: flex;
  align-items: center;
}

.world,
.italian {
  background-color:peru;
  padding: 4px;
}
